<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing Form</title>
</head>
<body>
    <h3> Edit Listing </h3>
    <form method = "POST" action = "/listing/<%=showSingleListing._id%>?_method=PUT">
        <input name= "frmListing[propertyName]" value="<%=showSingleListing.propertyName%>" type= "text"> <br><br>
        <input name= "frmListing[price]" value="<%=showSingleListing.price%>" type = "number"><br><br>
        <input name= "frmListing[city]" value="<%=showSingleListing.city%>" type= "text"><br><br>
        <input name= "frmListing[country]" value="<%=showSingleListing.country%>" type= "text"><br><br>
        <button> Update </button>
    </form>
</body>
</html>